body{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    border-color: white;
    border-style: groove;
    width: fit-content;
    background-color:#eff0f2;
}
.wrap{
   display: inline-grid;
   grid-template-columns: 600px 400px;
   width: 1000px;
}    
   
.part{
    border-radius: 20px;
    border-color: white;
    background-color:white;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}
.a{
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}
.a>div{
    padding-bottom: 25px;
}
.b{
    padding: 20px;
}
.b>div{
    padding-bottom: 25px;
   
}
.c{
    display: flex;

}
.number{
    width: fit-content;
    height: fit-content;
    background-color: #111529;
    border-radius: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.d{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #111529;
    color: #f75725;
   
}
.e{
    display: flex;
}
